@import url(../../index.css);

.header{
    position: fixed;
    width: calc(100% - 6rem);
    background-color: var(--main-color);
    height: 140px;
    padding-inline: 4rem;
    display: flex;
    justify-content: space-around;
    color: white;
    border-bottom: 3px solid var(--red-pallete);
    align-items: center;
}

.header h1{
    color: var(--red-pallete);
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul{
    list-style: none;
    display: flex;
    font-size: 22px;
    gap: 2rem;
}




.header a, .header a:visited{
    text-decoration: none;
    color: inherit;
}

