@import url(../../index.css);

.footer{
    background-color: var(--main-color);
    width: 100%;
    padding-block: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}